@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* Garante que o body ocupe 100% da largura e altura */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
.title {
  color: #585858;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilo do container */
.container {
  display: flex;
  width: 100%; /* Ocupa 100% da largura do body */
  height: 100vh; /* Ocupa toda a altura da tela */
  }
.container.HomeScreen{
  background-color: #fff;
}
.container.PoliticaPrivacidade {
  display: flex;
  flex-direction: row;
}
.container.GerarPalpites {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; /* Esconde o conteúdo que ultrapassa as laterais */
  padding: 10px; /* Adiciona espaço interno */
  box-sizing: border-box; /* Evita estouro de conteúdo */
}

.container.PalpiteSalvos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container.Resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/** COLUNAS **/
/* Estilo das colunas */
.column {
  padding: 0px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

/* Coluna esquerda */
.left {
  background-color: #fff; /* Vermelho-tomate */
  flex: 0 0 25%; /* 25% da largura */
}

/* Coluna central */
.center {
  background-color: #fff; /* Azul-acinzentado */
  flex: 0 0 50%; /* 50% da largura */
}
/* Coluna direita */
.right {
  background-color: #fff; /* Verde-lima */
  flex: 0 0 25%; /* 25% da largura */
}

/* Estilo responsivo */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Empilha as colunas verticalmente */
  }

  .center {
    order: 1; /* A coluna central aparece primeiro */
  }

  .left {
    order: 2; /* A coluna esquerda aparece depois */
  }

  .right {
    order: 3; /* A coluna direita aparece por último */
  }

  .column {
    flex: 0 0 auto; /* As colunas ocupam a largura total no modo empilhado */
    width: 100%;
  }
}



/**FIM COLUNAS **/

/** INICIO MENU **/

/* Botão do Menu Hamburger */
.menu-toggle {
  display: none;
  background-color: #007BFF;
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Menu Geral */
.menu {
  display: flex;
  background-color: #ccc;
  gap: 10px;
  padding: 10px;
  justify-content: center; /* Alinha os itens ao centro */
  width: 100%; /* Garante que o menu ocupe toda a largura */
}

/* Ajustes para os itens do menu */
.menu-item {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}


.inicio {
  background-color: #007BFF;
}

.lotofacil {
  background-color: #931d89;
}

.megasena {
  background-color: #209869;
}

.lotomania {
  background-color: #F78100;
}

.menu-item:hover {
  background-color: white;
  color: inherit;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Menu Responsivo */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    align-items: flex-start; /* Garante alinhamento à esquerda */
    justify-content: flex-start; /* Garante que os itens comecem do topo */
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco transparente */
    position: fixed;
    top: 0;
    left: 0;
    width: 60%; /* Largura do menu lateral */
    height: 100%;
    padding: 20px;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }

  .menu.open {
    transform: translateX(0);
  }

  /* Estilo base para os itens do menu */
  .menu-item {
    color: white; /* Texto branco por padrão */
    text-decoration: none;
    display: block;
    padding: 10px 0; /* Margem vertical entre os itens */
    margin: 5px 0; /* Espaçamento adicional */
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    width: 100%; /* Garante que os itens ocupem toda a largura disponível */
  }

  /* Hover para todos os itens */
  .menu-item:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  /* Estilos específicos para cada item */
  .menu-item.inicio:hover,
  .menu-item.inicio.active {
    background-color: #007BFF; /* Cor azul para Início */
  }

  .menu-item.lotofacil:hover,
  .menu-item.lotofacil.active {
    background-color: #931d89; /* Cor roxa para LotoFácil */
  }

  .menu-item.megasena:hover,
  .menu-item.megasena.active {
    background-color: #209869; /* Cor verde para MegaSena */
  }

  .menu-item.lotomania:hover,
  .menu-item.lotomania.active {
    background-color: #F78100; /* Cor laranja para LotoMania */
  }

  /* Adiciona borda lateral ao item ativo */
  .menu-item.active {
    border-left: 5px solid black; /* Borda lateral para destaque */
    font-weight: bold;
  }
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


/* BOTÕES DE AÇÃO */
.button {
  align-items: center;
  justify-content: center;
  background-color: #fff; /* Azul padrão */
  color: #585858; /* Texto branco */
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #5f5f5f;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #5f5f5f; /* Azul escuro no hover */
  color: white;
  box-shadow: 0 4px 8px rgba(1, 0, 0, 0.3); /* Sombra mais intensa */
}

.button.limpar {
  position: fixed;
  bottom: 40px; /* Fixa a 40px da parte inferior */
  left: 50%; /* Alinha horizontalmente ao centro */
  transform: translateX(-50%); /* Ajusta o centro do botão */
  z-index: 10; /* Garante que fique acima de outros elementos */
  padding: 10px;
}

.button.limpar:hover {
  background-color: #d21a1a; /* Azul escuro no hover */
  color: white;
  box-shadow: 0 4px 8px rgba(235, 4, 19, 0.3); /* Sombra mais intensa */
}

/* FIM BOTÕES AÇÃO */


/* TELA RESULTADOS */


.input {
  width: 100%;
  max-width: 80px;
  padding: 10px 10px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 12px;
  color: #333;
  border: 2px solid #5f5f5f;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input:focus {
  border-color: #5f5f5f;
  box-shadow: 0 0 6px rgba(19, 19, 19, 0.5);
}

.input::placeholder {
  color: #bbb;
  font-style: italic;
}

.input:disabled {
  background-color: #f5f5f5;
  color: #aaa;
  cursor: not-allowed;
}

/* FIM TELA RESULTADOS */


/* TELA PALPITES SALVOS */

.card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.card.resultadoLotoMania{
  border: 1px solid #F78100;
}

.card.resultadoMegaSena{
  border: 1px solid #209869;
}


.card.resultadoLotoFacil{
  border: 1px solid #931d89;
}

